<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css">
        <title>Autores | listado</title>
    </head>
    <body>
        <div class="container">
            <div class="alert alert-dark w-100 mt-4" role="alert">
                <h1>Administración de Autores</h1>
                <hr>
                <p>Desde aquí puedes consultar los autores presentes en la base de datos.</p>
            </div>
            <nav class="float-end" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Librería</a></li>
                    <li class="breadcrumb-item"><a href="/autores/">Autores</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listado</li>
                </ol>
            </nav>
            <div class="input-group mb-3 pt-4">
                <form th:action="@{/autores/buscarAutor}" method="POST" class="d-flex w-100">
                    <input type="text" name="apellido" th:value="${apellido}" class="w-75 form-control" placeholder="Ingrese apellido del autor" aria-label="Ingrese apellido del autor"
                           aria-describedby="button-addon2" />
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        Buscar
                    </button>
                </form>
                <table class="table table-striped table-hover mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="autor : ${autores}">
                            <th scope="row" th:text="${#strings.substring(autor.id,0,4)}">1</th>
                            <td th:text="${autor.nombre}"></td>
                            <td th:text="${autor.apellido}"></td>
                            <td><button th:name="${autor.id}" class="btn btn-link">Modificar</button><button th:name="${autor.id}" class="btn btn-link">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-dark w-100 text-end" th:text="${cantidad} + ' encontrados.'" role="alert">
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>